.dateField {
  margin-top:5%;
}

.supplier {
  margin-top: 3%;
}


.payment {
  margin-top: 5%;
  margin-left: 2%;
  width: 20%;
}


.product {
  margin-top: 3%;
}

.addProduct {
  margin-left: 20px;
}


.procurements {
  margin-left: 60px;
  label {
    margin-right:30px;
  }
}

.tableSummary {
  margin-top: 2%;
  float:right;
  margin-right: 10%;
  div {
    margin-left: 50px;
  }
}

.tableContent {
  margin-top: 5%;
  clear:both;
}
